/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    background: linear-gradient(45deg, #3ABEF9, transparent);
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Header Styles */
header {
    background-color: #050C9C;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.5em;
}

/* Navigation Styles */
nav {
    background-color: #3572EF;
}

nav .container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* Container Styles */
.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Section Styles */
.card {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for cards */
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    font-size: 2.5em;
    color: #0056b3;
}

.card p, .card ul {
    font-size: 1.1em;
    line-height: 1.6;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 10px;
}

/* Contact Links */
.card a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s;
}

.card a:hover {
    color: #003d80;
}

/* Footer Styles */
footer {
    background-color: #A7E6FF;
    color: #000;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .container {
        width: 95%;
    }

    .card {
        padding: 20px;
    }
}
